<div id = "div-form">
    <h2> Cadastrar Produto </h2>

    <form id = "form-produto">
        <label for="produto">Nome</label>
        <input type="text" name="produto" id="produto" class="input01" required maxlength="80" placeholder="Informe o nome do Produto">

         <label for="descricao_produto">Descrição do Produto</label>
        <input type="text" name="descricao_produto" id="descricao_produto" class="input01" required maxlength="80" placeholder="Informe a descrição do produto">

         <label for="valor_unitario">Qual o valor unitario?</label>
        <input type="text" name="valor_unitario" id="valor_unitario" class="input01" required maxlength="80" placeholder="Informe o valor do produto">

           <label for="unidade">Unidades</label>
        <input type="text" name="unidade" id="unidade" class="input01" required maxlength="80" placeholder="Informe a quantidade de unidade">

    </form>       
    </div>
        


        
        
        