<div id="div-lista">
    <h2>Lista de Produtos</h2>

    <div class="acao-topo">
        <button type="button" class="btn-voltar" (click)="voltarParaHome()">Voltar para Home</button>
    </div>

      <div id="lista-produto">
        @for (elem of listaProdutos(); track elem.idproduto) {
        <div class="item-produto">
            <span class="dados-produto">
                ID: {{elem.idproduto}} | Produto: {{elem.produto}} | Descrição: {{elem.descricao_produto}} | Valor unitário (R$): {{elem.valor_unitario}}
            </span>
            <span class="links-lista">
                <a class="lnk-editar" (click)="buscarProduto(elem)"> Editar </a>
                <a class="lnk-excluir" (click)="excluirProduto(elem)"> Excluir </a>
            </span>
        </div>
        }@empty{
        <div class="div-item-produto">
            NENHUM PRODUTO REGISTRADO.
        </div>
        }
    </div>


</div>
