<div id="div-lista">
    <h2>Lista Atleta</h2>

      <div id="lista-produto">
        @for (elem of listaProdutos(); track elem.id) {
        <div class="item-produto">
            <span class="dados-produto">
                {{elem.id}} - {{elem.produto}} - {{elem.descricao_produto}} - {{elem.valor_unitario}} 
            </span>
            <span class="links-lista">
                <a class="lnk-editar" (click)="buscarProduto(elem)"> Editar </a>
                <a class="lnk-excluir" (click)="excluirProduto(elem)"> Excluir </a>
            </span>
        </div>
        }@empty{
        <div class="div-item-produto">
            NENHUM PRODUTO REGISTRADO !!!
        </div>
        }
    </div>


</div>
